[submodule "lib/Runtime"]
	path = lib/Runtime
	url = https://github.com/bayrell/Runtime
[submodule "lib/Runtime.Console"]
	path = lib/Runtime.Console
	url = https://github.com/bayrell/Runtime.Console
[submodule "lib/BayLang"]
	path = lib/BayLang
	url = https://github.com/bayrell/BayLang
[submodule "bay-lang"]
	path = bay-lang
	url = https://github.com/bayrell/bay-lang-nodejs
